{% extends 'base.html' %}
{% block content %}
<h2>Detailansicht</h2>

<h3>{{ thesis.title }}</h3>
<h5>Lehrstuhl: {{ thesis.chair }}</h5>
<div class="container">
<div class="row">
    {% if thesis.pdf %}
    <div class="col-sm-4" style="height: 450px;">
        <object style="height: 100%" data="{{ thesis.pdf.url }}" type="application/pdf">
            <embed src="{{ thesis.pdf.url }}" type="application/pdf"></embed>
        </object>
    </div>
    {% endif %}
    <div class="col-sm-8">
        <table class="table details">
            <tr>
                <td>Beschreibung:</td><td>{{ thesis.description }}</td>
            </tr>
            <tr>
                <td>frühester Beginn:</td><td>{{ thesis.start_date }}</td>
            </tr>
            <tr>
                <td>Schlagwörter:</td><td>{{ thesis.tags }}</td>
            </tr>
            {% if thesis.additional %}
                <tr>
                    <td>weitere Informationen:</td><td>{{ thesis.additional }}</td>
                </tr>
            {% endif %}
        </table>
    </div> <!-- end col -->
</div> <!-- end row -->
</div> <!-- end container -->
<div class="uibuttons">
<a href="/uploads/{{ thesis.pdf }}"><button class="btn btn-success btn-large"><i class="fas-download"></i>Download PDF</button></a>
<a href="mailto:{{ thesis.contact }}?subject=Abschlussarbeit {{ thesis.title }}"><button class="btn btn-primary btn-large"><i class="fas-download"></i>E-Mail an Ansprechpartner</button></a>
</div> <!-- end uibittons -->
{% endblock %}


