{% extends 'base.html' %}
{% load staticfiles %}
{% block index_active %}active{% endblock %}
{% block content %}
    <div class="logo">
    <img src="{% static 'img/aai_logo_big.svg' %}">
    </div>
    <h3>Willkommen beim Prototyp des Abschlussarbeiten-Interface der Fachschaft Informatik.</h3>
    <h5>Nach Klick auf den Login-Buttton kannst du dir über den Navigationseintrag "Alle Abschlussarbeiten" einen Überblick über angebotene Themen verschaffen.</h5>
     <br>
<div class="card border-primary">
  <div class="card-body text-primary">
    <h5 class="card-title">Kein passendes Thema?</h5>
    <p class="card-text">Bitte beachte, dass diese Übersicht keinesfalls allumfassend ist. Nicht alle Lehrstühle verwenden die Plattform und/oder stellen nicht alle Arbeiten online! Es besteht stets die Möglichkeit, direkt mit einem Lehrstuhl ein Thema abzusprechen, welches hier nicht aufgelistet ist.
        Fast immer lassen sich bei einem Gespräch basierend auf deinen Interessen und Stärken potentielle Themen für eine Abschlussarbeit finden. <span style="font-weight: bold">Nur Mut!</span></p>
  </div>
</div>
<br>
    <div class="card border-success">
  <div class="card-body text-success">
    <h5 class="card-title">Mitarbeiter?</h5>
    <p class="card-text">Nach erfolgreichem Login mit Ihrem Mitarbeiter-Account (i.d.R. <span style="font-family: monospace;">xxxxx01</span>)
    können Sie Ausschreibungen für Abschlussarbeiten anlegen, indem Sie den Eintrag "Adminstration" in der Navigationsleiste anwählen. Bitte beachten Sie, dass Sie zunächst
    manuell einem Lehrstuhl zugeordnet werden müssen, um für Ihren Lehrstuhl Arbeiten anzulegen.</p>
  </div>
      <div class="card-footer bg-transparent text-muted">Dieser Prozess benötigt normalerweise ca. einen Werktag. Wir bitten um Ihre Geduld.</div>
  </div>

{% endblock %}
